.vscode
.idea
.venv
.coverage
__pycache__
.DS_Store

# BUILD FILES:
src/downloader.zip
src/commit.py
downloader_bin

# DEBUG FILES:
delme
delme*.py
stop
mister.ip
dont_download.ini
downloader.json.zip
downloader*.json
*.log
*.png
