.vscode
.idea
.venv
.coverage
__pycache__
.DS_Store

# TEST FILES:
delme

# BUILD FILES:
src/downloader.zip
src/commit.py

# DEBUG FILES:
delme*.py
stop
mister.ip
dont_download.ini
downloader.json.zip
downloader*.json
*.log
*.png
