name: All Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - uses: actions/checkout@v4

    - name: Type check
      run: python3 -m pip install mypy && mypy --check-untyped-defs src/__main__.py src/downloader

    - name: Unit Tests
      run: cd src && python3 -m unittest discover -s test/unit

    - name: Integration Tests
      run: cd src && python3 -m unittest discover -s test/integration

    - name: System Quick Tests
      run: cd src && python3 -m unittest discover -s test/system/quick -v

    - name: System Slow Tests
      run: cd src && python3 -m unittest discover -s test/system/slow -v

  windows-test:
    runs-on: windows-latest
    needs: test

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Test PC Launcher on Windows
      run: cd src && python pc_launcher.py
      env:
        PC_LAUNCHER_NO_WAIT: '1'
