name: All Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Type check
            run: python3 -m pip install mypy && mypy --check-untyped-defs src/__main__.py src/downloader
          - name: Unit Tests
            run: cd src && python3 -m unittest discover -s test/unit
          - name: Integration Tests
            run: cd src && python3 -m unittest discover -s test/integration
          - name: System Quick Tests
            run: cd src && python3 -m unittest discover -s test/system/quick -v
          - name: System Slow Tests
            run: cd src && python3 -m unittest discover -s test/system/slow -v
          - name: Full Run Launcher Test
            run: ./downloader.sh

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: ${{ matrix.name }}
      run: ${{ matrix.run }}
      env:
        DEBUG: true

  pc-launcher:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            python-cmd: python3
          - os: windows-latest
            python-cmd: python
          - os: macos-latest
            python-cmd: python

    steps:
    - uses: actions/checkout@v4

    - name: Full Run PC Launcher Test on ${{ matrix.os }}
      run: ${{ matrix.python-cmd }} src/pc_launcher.py
      env:
        PC_LAUNCHER_NO_WAIT: '1'
        DEBUG: true
