name: Pack Launcher

on:
  push:
    paths:
      - 'downloader.sh'
  workflow_dispatch:

jobs:
  pack:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Launcher Test
      run: ./downloader.sh
      env:
        DEFAULT_DB_ID: distribution_mister
        DEFAULT_DB_URL: ${{ github.workspace }}/src/test/system/fixtures/small_db_install/small_db_3.json
        DEBUG: true
        DEFAULT_BASE_PATH: ${{ runner.temp }}/downloader_test

    - name: Pack Launcher
      run: ./.github/pack_launcher.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
