name: Pack Launcher

on:
  push:
    paths:
      - 'downloader.sh'
  workflow_dispatch:

jobs:
  pack:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-python

    - name: Launcher Test
      run: ./downloader.sh
      env:
        DEFAULT_DB_ID: distribution_mister
        DEFAULT_DB_URL: ${{ github.workspace }}/src/test/system/fixtures/workflows/empty.json
        DEBUG: true
        DEFAULT_BASE_PATH: ${{ runner.temp }}/downloader_test

    - name: Pack Launcher
      run: |
        set -euo pipefail

        if ! gh release list | grep -q "latest" ; then
            gh release create "latest" || true
            sleep 15s
        fi

        cp downloader.sh update.sh
        zip "MiSTer_Downloader.zip" update.sh
        gh release upload "latest" "MiSTer_Downloader.zip" --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
