name: Pack PC Launcher

on:
  push:
    paths:
      - 'src/pc_launcher.py'
  workflow_dispatch:

jobs:
  pack:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: PC Launcher Test
      run: python3 src/pc_launcher.py
      env:
        DEFAULT_DB_ID: distribution_mister
        DEFAULT_DB_URL: ${{ github.workspace }}/src/test/system/fixtures/small_db_install/small_db_3.json
        DEBUG: true
        FORCED_BASE_PATH: ${{ runner.temp }}/downloader_test
        PC_LAUNCHER_NO_WAIT: '1'

    - name: Pack PC Launcher
      run: chmod +x .github/pack_pc_launcher.sh && ./.github/pack_pc_launcher.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
